In [2]:
import igraph
import pandas as pd

In [28]:
graph_data = pd.read_csv("manufacturing_emails_temporal_network.csv", sep = ";")

In [65]:
graph_data.head(5)

   node1  node2  timestamp
0      1      2          1
1      1      3          1
2      1      4          1
3      1      5          1
4      1      6          1

In [31]:
graph_data_nodes = graph_data.drop(["timestamp"], axis=1)

In [32]:
graph_data_nodes.head(5)

   node1  node2
0      1      2
1      1      3
2      1      4
3      1      5
4      1      6

In [33]:
tuples = [tuple(x) for x in graph_data_nodes.values]

In [34]:
Gm = igraph.Graph.TupleList(tuples, directed = False)

In [41]:
igraph.summary(Gm, verbosity=0)

IGRAPH UN-- 167 82876 --
+ attr: name (v)

In [43]:
len(Gm.get_edgelist())

82876

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(Gm)? (<ipython-input-61-a61593544213>, line 1)