In [1]:
# Gdata, G2, G3

In [2]:
import igraph
import pandas as pd
import numpy as np
from numpy import linalg as LA
import matplotlib.pyplot as plt
graph_data = pd.read_csv("manufacturing_emails_temporal_network.csv", sep = ",")

In [38]:
G_data = pd.read_csv("manufacturing_emails_temporal_network.csv", sep = ",")
G_2 = pd.read_csv("manufacturing_emails_temporal_network.csv", sep = ",")
G_3x = pd.read_csv("manufacturing_emails_temporal_network.csv", sep = ",")
G_3 = pd.read_csv("manufacturing_emails_temporal_network.csv", sep = ",")

In [15]:
G_data.head() #G_data can be used here

   node1  node2  timestamp
0      1      2          1
1      1      3          1
2      1      4          1
3      1      5          1
4      1      6          1

In [5]:
from random import shuffle

In [7]:
timestamp_g2 = G_data.timestamp
timestamp_g2 = list(timestamp_g2)
shuffle(timestamp_g2)
print(timestamp_g2[0:5])

[19088, 24205, 39952, 24719, 16844]

In [8]:
for i in range(len(G_2)):
    G_2.timestamp[i]=timestamp_g2[i]

In [12]:
G_2.timestamp[0:5]

0    19088
1    24205
2    39952
3    24719
4    16844
Name: timestamp, dtype: int64

In [14]:
G_2.head() #G_2 can be used here

   node1  node2  timestamp
0      1      2      19088
1      1      3      24205
2      1      4      39952
3      1      5      24719
4      1      6      16844

In [16]:
timestamp_g3=list(G_3x.timestamp)

In [17]:
from random import seed
from random import randint
seed(1)

In [19]:
randint(0, len(G_3x)-1)

74606

In [39]:
for i in range(len(G_3x)):
    G_3x.timestamp[i]=0
    G_3.timestamp[i]=0

In [56]:
G_3x[0:1]

   node1  node2  timestamp
0      1      2          0

In [59]:
for i in range(len(G_3x)):
    G_3x.timestamp[i]=0
    G_3x.timestamp[randint(0, len(G_3x)-1)]=\
    timestamp_g3[i]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:

##for i in range(len(G_3x)):
 ##   if (G_3x.timestamp[i]=0):
 ##       G_3x.drop(G_3x[i:i+1], axis=)

In [ ]:
##G_3.head()

In [24]:
#G_3.to_csv(r'D:\Anaconda3\envs\MDC\G_3.csv')

In [ ]:
# G_3.to_csv(r'D:\Anaconda3\envs\MDC\G_3.csv') #this cost a lot of time so I write into csv
# so you can just run 
 G_3 = pd.read_csv("G_3.csv", sep = ",")

In [22]:
G_3.head()

   node1  node2  timestamp
0      1      2      18314
1      1      3      40488
2      1      4      46297
3      1      5      37662
5      1      7      47549